* {
  box-sizing: border-box;
  margin: 0;
}
.App {
  height: 100vh;
  min-width: 80vw;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../../imgs/background.png");
  background-size: cover;
  direction: rtl;
  text-align: center;
  padding-top: 8%;
  position: relative;
  .not-found {
    height: 500px;
    text-align: center;
    p {
      font-size: 6vh;
    }
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 1.2rem;
    background-color: rgba(245, 195, 204, 0.541);
    padding: 0.3% 0 0.1% 14%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    img {
      margin-right: 0.5%;
      height: 1.2rem;
    }
  }
}
