.filter{
    display: flex;
    justify-content: center;
    .filter-container{
        border: 1px solid black;
        height: 6vh;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20vw;
        border-radius: 8px;
        position: absolute;
        bottom: 4%;
        .filter-input{
            text-align: right; 
            width: 16vw;
            border: none;
            font-size: 2.5vh;
            outline: none;
        }
        img{
            font-size: 2.5vh;
        }
    }
}