.filter{
    display: flex;
    justify-content: center;
    .filter-container{
        border: 1px solid black;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 280px;
        padding: 10px;
        border-radius: 8px;
        .filter-input{
            text-align: right; 
            width: 250px;
            border: none;
            font-size: 1.2rem;
            outline: none;
        }
        img{
            height: 1.2rem;
        }
    }
}